<div class="dashboard" *ngIf="account.user">

	<div class="dashboardheader">
		<div class="dashboard-heading">Dashboard</div>
		<div class="profile-card__name">{{ account.user.firstName }} {{ account.user.lastName }}</div>
	</div>
	<ul class="dashboardlinks">
		<li><a routerLink="/account/dashboard"><i class="fa fa-plus"></i>{{ 'TEXT_ADD_NEW'|translate }}</a></li>
		<li><a routerLink="/account/active"  class="active">{{ 'TEXT_ACTIVE'|translate }}</a></li>
		<li><a routerLink="/account/history">{{ 'TEXT_HISTORY'|translate }}</a></li>
		<li><a routerLink="/account/mostwanted">{{ 'TEXT_MOSTWANTED'|translate }}</a></li>
		<li><a routerLink="/account/settings">{{ 'TEXT_SETTINGS'|translate }}</a></li>
	</ul>
	
	
	<div class="dashboardcontent">
		<div class="row row-eq-height">
			<div class="col-md-3">
				<div class="activeproductplusbox">
					<div class="activeproductimage">
						<img src="assets/images/plus.png">
					</div>
					<div class="activeproductstatus">
						<a routerLink="/account/dashboard">{{ 'TEXT_ADD_NEW'|translate }}</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="activeproductbox">
					<div class="activeproductimage">
						<img src="assets/images/products/product-2-1.png">
					</div>
					<div class="activeproductstatusapproved">
						{{ 'TEXT_APPROVED'|translate }}
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="activeproductbox">
					<div class="activeproductimage">
						<img src="assets/images/products/product-3-1.png">
					</div>
					<div class="activeproductstatussold">
						{{ 'TEXT_SOLD'|translate }}
					</div>
				</div>
			</div>
			<div class="col-md-3">
			</div>
		</div>
	</div>
	
	
	
	
	


    
</div>
