<div class="dashboard" *ngIf="account.user">

	<div class="dashboardheader">
		<div class="dashboard-heading">Dashboard</div>
		<div class="profile-card__name">{{ account.user.firstName }} {{ account.user.lastName }}</div>
	</div>
	<ul class="dashboardlinks">
		<li><a routerLink="/account/dashboard"><i class="fa fa-plus"></i>{{ 'TEXT_ADD_NEW'|translate }}</a></li>
		<li><a routerLink="/account/active"  class="active">{{ 'TEXT_ACTIVE'|translate }}</a></li>
		<li><a routerLink="/account/history">{{ 'TEXT_HISTORY'|translate }}</a></li>
		<li><a routerLink="/account/mostwanted">{{ 'TEXT_MOSTWANTED'|translate }}</a></li>
		<li><a routerLink="/account/settings">{{ 'TEXT_SETTINGS'|translate }}</a></li>
	</ul>
	
	
	<div class="settingscontent">
		<div class="settingsheading">Buying Notifications</div>
		<div class="form-group">
			<div class="settingscontentbox">
				<div class="settingshead">Bidding, New Lowest Ask</div>
				<div class="settingstext">Sent when a new Lowest Ask is placed on an item you’re bidding on</div>
			</div>
			
		</div>
		<div class="form-group">
			<div class="settingscontentbox">
				<div class="settingshead">Bidding, New Highest Bid</div>
				<div class="settingstext">Sent when a new highest Bid is placed on an item you have an active Bid on</div>
			</div>
		</div>
		
		<div class="settingsheading">Seller Notifications</div>
		<div class="settingsheading">Subscription Notifications</div>
	
	</div>
	
	
	
	
	


    
</div>
